html,
body {
    min-height: 100%;
}

body {
    background: url('./wall.jpg') repeat;
}

ul,
li {
    list-style: none;
}

ul {
    overflow: hidden;
    padding : 3em;
}

ul li {
    margin : 1em;
    float  : left;
    display: block;
}

span.linktext {
    margin: auto;
}


.pin-board {
    background-image   : url('./cork.jpg');
    background-position: 0 0;
    background-repeat  : repeat;

    margin: 10%;

    -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, .3);
    -moz-box-shadow   : 0 20px 20px rgba(0, 0, 0, .3);
    box-shadow        : 0 0 20px 20px rgba(0, 0, 0, .3);

}

.social-links a {
    color            : inherit;
    font-family      : 'Cabin Sketch', cursive;
    /*    font-family: 'Indie Flower', cursive;*/
    font-size        : 30px;
    font-weight      : normal;
}

a.polaroid {
    background        : ivory;
    display           : block;
    width             : 200px;
    margin            : 0 0 15px 30px;
    padding           : 10px 10px 25px;
    text-align        : center;
    text-decoration   : none;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
    -moz-box-shadow   : 0 10px 10px rgba(0, 0, 0, .3);
    box-shadow        : 0 0 10px 10px rgba(0, 0, 0, .3);
    -webkit-transition: all .15s linear;
    -moz-transition   : all .15s linear;
    transition        : all .15s linear;
    z-index           : 0;
    position          : relative;
}

a.polaroid img {
    display: block;
    margin : auto;
    width  : 100%;
}

a.polaroid:after {
    color    : #333;
    font-size: 20px;
    content  : attr(title);
    position : relative;
    top      : 15px;
}

a.postit {
    text-align        : center;
    text-decoration   : none;
    /*color           :rgba(222, 105, 105, 0.945);*/
    background        : #ffc;
    display           : block;
    height            : 5em;
    width             : 5em;
    padding           : 1em;
    margin            : 0px;
    /* Firefox */
    -moz-box-shadow   : 5px 5px 7px rgba(33, 33, 33, 1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    /* Opera */
    box-shadow        : 5px 5px 7px rgba(33, 33, 33, .7);
}

.pin {
    width            : 30px;
    height           : 30px;
    display          : block;
    background-image : url('./pin.png');
    background-size  : contain;
    background-repeat: no-repeat;
    position         : absolute;
    top              : 10px;
    left             : 50%;
}

.polaroid .pin {
    top: 0px;
}

.social-links li:nth-child(2n) {
    -webkit-transform: rotate(4deg);
    -moz-transform   : rotate(4deg);
    transform        : rotate(4deg);
    color            : rgb(222, 105, 105);
}

.social-links li:nth-child(3n) {
    -webkit-transform: rotate(-24deg);
    -moz-transform   : rotate(-24deg);
    transform        : rotate(-24deg);
    color            : rgb(75, 89, 237);
}

.social-links li:nth-child(4n) {
    -webkit-transform: rotate(14deg);
    -moz-transform   : rotate(14deg);
    transform        : rotate(14deg);
    color            : rgb(146, 238, 79);
}

.social-links li:nth-child(5n) {
    -webkit-transform: rotate(-18deg);
    -moz-transform   : rotate(-18deg);
    transform        : rotate(-18deg);
    color            : rgb(68, 16, 114);
}

.social-links .facebook {
    color: #385898;
}

.social-links .twitter {
    color: #00aced;
}

.social-links .spotify {
    color: #1DB954;
}

.social-links .youtube {
    color: #FF0000;
}

.social-links .soundcloud {
    color: #FF7700;
}

span.icon {
    width              : 50px;
    height             : 50px;
    display            : block;
    margin             : auto;
    background-size    : contain;
    background-position: 0 0;
    background-repeat  : no-repeat;
}

.instagram .icon {
    background-image: url('./instagram.png');
}

.facebook .icon {
    background-image: url('./facebook.png');
}

.twitter .icon {
    background-image: url('./twitter.png');
}

.spotify .icon {
    background-image: url('./spotify.png');
}

.soundcloud .icon {
    background-image: url('./soundcloud.png');
}

.bandcamp .icon {
    background-image: url('./bandcamp.png');
}

.youtube .icon {
    background-image: url('./youtube.png');
}