.links {
    width: 300px;
    margin: auto;
}
a {
    display: flex;
    flex-direction: column;
}
.nice-text {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
font-weight: bold;

}
.drawn-button {
    /* ripped off bootstrap for now */
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
 -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
background-color: teal;
border: 1px solid transparent;
border-radius: 4px;
}

@keyframes example {
    0%   {transform : rotate(0deg);}
    50%   {transform : rotate(180deg);}
    100%   {transform : rotate(360deg);}
}
.mybutton {
    transform-origin: 150px 50px;
    /*transition: transform 2s;*/
    /*animation: example 2s linear 0s infinite;*/
}
.mybutton:hover { 
    /*transform: rotate(30deg)
    /* stroke: rgb(183, 199, 1);
    fill:palevioletred; */
}